.schedule {
  padding-top: 110px;
  position: relative;

  &__time-line {
    width: 1px;
    height: calc(100% - 110px);
    position: absolute;
    // left: 152px;
    top: 168px;
    background-color: #ffd569;
    z-index: 19;

    &--hidden {
      visibility: hidden;
    }

    span {
      display: block;
      width: 9px;
      height: 8px;
      background-color: #ffd569;
      transform: translateX(-4px);
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 0px;
        width: 0;
        height: 0;
        border-top: 4px solid #ffd569;
        border-left: 4.5px solid transparent;
        border-right: 4.5px solid transparent;
      }
    }
  }
  &__head {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 168px;
    z-index: 25;
    width: 100%;
    height: 58px;
    display: grid;
    // grid-template-columns: 152px repeat(36, 52px);
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #718096;
    display: flex;
    align-items: center;
    transform: translateY(-8px);

    svg {
      width: 20px;
      margin-right: 9px;
      fill: #a0aec0;
    }

    span {
      font-weight: 400;
      color: #2d3748;
      margin-left: 2px;
    }
  }

  &__time-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #cbd5e0;
    background-color: white;
    transform: translateX(-50%);

    .schedule__num {
      color: #718096;
    }

    &.bold {
      font-size: 14px;
      line-height: 16px;

      .schedule__num {
        font-weight: 700;
        color: #2d3748;
      }
    }
  }

  &__row {
    height: 75px;
    display: grid;
    grid-template-columns: 28px 124px repeat(36, 52px);
    grid-auto-flow: column;
  }

  &__avatar {
    position: sticky;
    z-index: 10;
    left: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #e2e8f0;
    box-shadow: 5px 0px 5px 0px rgba(255, 255, 255, 0.9),
      -10px 0px 0px 0px #ffffff;

    .avatar {
      width: 28px;
      height: 28px;
      border-radius: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__info-cell {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border-bottom: 1px solid #e2e8f0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    background-color: white;
    padding-left: 6px;

    .name {
      color: #2d3748;
    }

    .work-time {
      color: #718096;
    }
  }

  &__info-name {
    color: #2d3748;
  }

  &__info-time {
    color: #718096;
  }

  &__event-cell {
    border-bottom: 1px solid #e2e8f0;
    background: url("Line 40.png") no-repeat top left;

    padding: 12px 3px 12px 4px;
    cursor: pointer;

    &:last-child {
      background: url("Line 40.png") no-repeat top left,
        url("Line 40.png") no-repeat top right;
    }

    &:hover {
      .schedule__event-add {
        display: flex;
      }
    }
  }

  &__event-add {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #e0f0e1;
    border: 1px dashed #57aa5b;
    box-shadow: 0px 4px 4px rgba(226, 232, 240, 0.5);
    border-radius: 6px;

    &-icon {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        fill: #57aa5b;
        width: 8px;
        height: 8px;
      }
    }
  }
}
