@import '../../scss/variables.scss';

.search-input {
  position: relative;

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 16px;
    height: 16px;
    pointer-events: none;
    transform: translateY(-50%);
    fill: $text-light-color;
  }

  &__input {
    color: $black;

    &::placeholder {
      color: $text-light-color;
    }
  }
}